export S3_ADMIN_ACCESS_KEY_ID=$(cd .. && terraform output -json | jq ".sklein_backup_bucket_admin_api_key_id.value" -r)
export S3_ADMIN_SECRET_ACCESS_KEY=$(cd .. && terraform output -json | jq ".sklein_backup_bucket_admin_api_app_key.value" -r)
export S3_ADMIN_ENDPOINT_URL=https://s3.eu-central-003.backblazeb2.com
export S3_ADMIN_DEFAULT_REGION=eu-central-003
